.card {
	max-width: 700px;
	padding: 2rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 2rem;
	grid-template-areas:
		"img form"
}

.img {
	position: relative;
	grid-area: img;
	min-height: 200px;
	background: linear-gradient(170deg, #A06FDE -14.57%, rgba(182, 38, 194, 0.00) 112.46%);
	border-radius: var(--border-radius);
	cursor: grab;
}

.desc {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	bottom: 10px;
	left: 10px;
	font-size: 0.75rem;
	color: var(--purple)
}

.form {
	grid-area: form;
	display: flex;
	flex-direction: column;
	padding-block: 2.5rem;
	gap: 2rem;
}

@media only screen and (max-width: 767px) {
	.card {
		padding: 0rem;
		gap: 1rem;
		grid-template-columns: 1fr;
		grid-template-areas:
			"img"
			"form"
	}
	.img {
		max-height: 200px;
	}
	.form {
		padding-block: 1.5rem;
	}
}