/* BUTTON */
.button {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-content: center;
	overflow: hidden;
	padding: 0.75rem 1.5rem;
	cursor: pointer;

	color: var(--white);
	font-size: 1rem;
	font-weight: 300;

	background: var(--purple);
	border: none;
	border-radius: calc(var(--border-radius) * 2);
}

.button > span {
	pointer-events: none;
	position: relative;
	z-index: 2;
}

.button::before {
	--size: 0px;
	z-index: 1;
	content: '';
	position: absolute;
	left: var(--x);
	top: var(--y);
	width: var(--size);
	height: var(--size);
	background: radial-gradient(
		closest-side,
		rgba(255, 255, 255, 0.3),
		var(--purple)
	);
	transform: translate(-50%, -50%);
	transition: width 0.2s ease, height 0.2s ease;
}

.button:hover::before {
	--size: 100px;
}

.button::after {
	z-index: 1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	--mask:
	radial-gradient(67.08px at 50% 90.00px,var(--green) 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
	radial-gradient(67.08px at 50% -60px,#0000 99%,var(--green) 101%) 50% 30px/120px 100% repeat-x;
	background: var(--mask);
	bottom: -50%;
	left: 0px;
	transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.button.submited::after {
	height: 330%;
	width: 200%;
}

.buttonText {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* BUBBLY ANIMATION */
.bubbly {
	cursor: pointer;
	position: relative;
}
.bubbly:focus {
	outline: 0;
}
.bubbly::before, .bubbly::after{
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	/* z-index: -1000; */
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.bubbly::before{
	display: none;
	top: -75%;
	background-image:
		radial-gradient(at center, var(--purple) 20%, transparent 20%),
		radial-gradient(at center, transparent 20%, var(--purple) 20%, transparent 30%),
		radial-gradient(at center, var(--purple) 20%, transparent 20%),
		radial-gradient(at center, var(--purple) 20%, transparent 20%),
		radial-gradient(at center, transparent 10%, var(--purple) 15%, transparent 20%),
		radial-gradient(at center, var(--purple) 20%, transparent 20%),
		radial-gradient(at center, var(--purple) 20%, transparent 20%),
		radial-gradient(at center, var(--purple) 20%, transparent 20%),
		radial-gradient(at center, var(--purple) 20%, transparent 20%);
	background-size: 10px 10px, 20px 20px, 15px 15px, 20px 20px, 18px 18px, 10px 10px, 15px 15px, 10px 10px, 18px 18px;
}

.bubbly::after{
	display: none;
	bottom: -75%;
	background-image:
		radial-gradient(circle at 30%, var(--purple) 20%, transparent 20%),
		radial-gradient(circle at 30%, var(--purple) 20%, transparent 20%),
		radial-gradient(circle at 30%, transparent 10%, var(--purple) 15%, transparent 20%),
		radial-gradient(circle at 30%, var(--purple) 20%, transparent 20%),
		radial-gradient(circle at 30%, var(--purple) 20%, transparent 20%),
		radial-gradient(circle at 30%, var(--purple) 20%, transparent 20%),
		radial-gradient(circle at 30%, var(--purple) 20%, transparent 20%);
	background-size: 15px 15px, 20px 20px, 18px 18px, 20px 20px, 15px 15px, 10px 10px, 20px 20px;
}

.animate {
	position: relative;
}

.bubbly.animate::before{
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly.animate::after{
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
	0%{
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
	}
}

@keyframes bottomBubbles {
	0%{
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
	}
}
