/* INPUT */
.inputWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}

.inputLabel {
	margin-bottom: 0.5rem;
}

.inputInput {
	padding: 0.75rem 1rem;
	font-size: 1rem;

	background: var(--smoke);
	border: 1px solid var(--divider);
	border-radius: var(--border-radius);
}
.inputInput::placeholder {
	color: var(--divider);
	font-weight: 300;
}
.inputInput:hover {
	border-color: var(--purple);
}
.inputInput:focus, .inputInput:focus-visible, .button:focus, .button:focus-visible {
	outline: 1px solid var(--purple);
}