/* TOOLTIP */
.tooltip {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	bottom: 0px;
	font-size: var(--caption-size);
	padding: 0.5rem 1rem;
	transform: translateY(calc(100% + 0.5rem));
	color: var(--white);
	background-color: var(--purple);
	border-radius: var(--border-radius);
	z-index: 9999;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.tooltip::before {
	content: '';
	position: absolute;
	display: block;
	width: 0px;
	left: 90%;
	top: 0;
	border: 15px solid transparent;
	border-top: 0;
	border-bottom: 15px solid var(--purple);
	transform: translate(-100%, -100%);
}