@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
	--max-width: 1100px;
	--border-radius: 12px;

	/* COLORS */
	--smoke: #F5F5F5;
	--purple: #AD76F3;
	--green: #0C7C59;
	--black: #000000;
	--white: #fff;
	--divider: #d1d1d1;

	/* FONTS */
	--h1-size: 1.5rem;
	--h2-size: 1rem;
	--body-size: 0.875rem;
	--label-size: 1rem;
	--caption-size: 0.75rem;

	/* OTHERS */
	--x: 0%;
	--Y: 0%;
}

/* TYPOGRAPHY */
h1, .h1 {
	font-size: var(--h1-size);
	font-weight: 600;
	margin-bottom: .5rem;
}

h2, .h2 {
	font-size: var(--h2-size);
	font-weight: 400;
	margin-bottom: .75rem;
}

p, .body {
	font-size: var(--body-size);
	font-weight: 300;
}

label, .label {
	font-size: var(--label-size);
	font-weight: 300;
}

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* DOCUMENT */
html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background: var(--smoke);
}

/* LINKS */
a {
	color: inherit;
	text-decoration: none;
}

/* SYMBOLS */
.material-symbols-rounded {
	font-size: 1.2rem;
	font-variation-settings:
	'FILL' 1,
	'wght' 700,
	'GRAD' 200,
	'opsz' 20
}